@import "../../base.css";

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;


  & svg {
    height: 120%;
    width: 120%;
    background-color: var(--bg-color);
    font-family: toppan-bunkyu-midashi-go-std, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 12rem;
  }
}

.marquee {
  --duration: 0s;
  --direction: normal;

  transform-box: fill-box;
  animation: scroll var(--duration) linear var(--direction) infinite;

  &.benchmark {
    visibility: hidden;
    animation: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
