@import 'https://unpkg.com/@acab/reset.css';

@keyframes background-frame-out {
  from {
    text-shadow: 0 0 0 #df40279c;
  }

  to {
    text-shadow: 0 0 10px #2c181567;
  }
}

@keyframes blur {
  from {
    filter: blur(0) brightness(1);
  }

  to {
    filter: blur(0.6rem) brightness(0.4);
  }
}

@keyframes frame-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: inherit;
    opacity: 1;
  }
}

:root {
  --background-frame-out-delay: 0s;
  --background-frame-out-duration: 1s;
  --content-frame-in-delay: 1s;
  --content-frame-in-duration: 0.5s;

  --bg-color: #222222;
}

.no-animation {
  --background-frame-out-delay: 0s;
  --background-frame-out-duration: 0s;
  --content-frame-in-delay: 0s;
  --content-frame-in-duration: 0s;
}

html {
  font-size: 12pt;
  visibility: hidden;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

body {
  height: 100dvh;
  width: 100dvw;
  font-family: "toppan-bunkyu-mincho-pr6n", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ten-mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100%;
  width: 100%;
}

.container>* {
  position: fixed;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url('./background.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: transparent;
  animation:
    blur ease-in var(--background-frame-out-duration) var(--background-frame-out-delay) both,
    background-frame-out ease-in var(--background-frame-out-duration) var(--background-frame-out-delay) both;
}

.background-text {
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12rem;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-shadow: 0 0 8px var(--bg-color);
  animation: frame-in ease-in var(--content-frame-in-duration) var(--content-frame-in-delay) both;
}

.heading {
  flex-basis: 30%;
  padding: min(2rem, 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading h1 {
  font-size: 3rem;
}

.heading div {
  margin-top: 1rem;
}

.links {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.link::after {
  position: absolute;
  margin-left: 0.5rem;
  content: '〉';
}

@media screen and (min-width: 320px) {
  html {
    font-size: 14pt;
  }

  .heading h1 {
    word-break: keep-all;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: max(2svmin, 16pt);
  }

  .content {
    padding: 5rem 0;
  }

  .heading div {
    word-break: keep-all;
    overflow-wrap: break-word;
  }
}