@import "../../base.css";

.aoi-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aoi {
  padding: 0 0.5rem 2rem;

  @media (--viewport-sm) {
    max-width: 540px;
  }

  @media (--viewport-md) {
    max-width: 720px;
  }

  @media (--viewport-lg) {
    max-width: 960px;
  }

  @media (--viewport-xl) {
    max-width: 1140px;
  }

  @media (--viewport-xxl) {
    max-width: 1320px;
  }

  & h1 {
    font-size: 2rem;
    border-bottom: 0.15rem solid;
    margin: 1rem 0;
    word-break: keep-all;
  }

  & h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;

    & + h3 {
      margin-top: -0.3rem;
    }
  }

  & h3 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
  }

  & h4 {
    font-weight: bold;
    margin-top: 0.1rem;
  }

  & p {
    line-height: 1.5rem;
  }

  & ol {
    margin-left: 3rem;
  }

  & li {
    list-style-type: decimal;
    line-height: 1.5rem;
  }
}
